In [3]:
import pandas as pd
import numpy as np
from glob import glob, iglob
import pymongo
import json
import os

In [12]:
excel_path=os.path.join("../data",'OECDTuitionData.xlsx')
excel=pd.read_excel(excel_path)
tuition_df=pd.DataFrame(excel)
tuition_df

,Education at a Glance 2019: OECD Indicators - Â© OECD 2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78
0,C,Table C5.1. Annual average (or most common) tu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Version 1 - Last updated: 02-Sep-2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Disclaimer: http://oe.cd/disclaimer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Table C5.1.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Annual average (or most common) tuition fees c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"In equivalent USD converted using PPPs, by typ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,"Percentage of\nstudents (in bachelor's, master...",NaN,NaN,NaN,Percentage of international students (in bache...,NaN,Annual average tuition fees charged by insitut...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Public institutions (or government-dependent p...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Public institutions (or government-dependent p...,NaN,Independent private institutions,NaN,NaN,NaN,National students,NaN,...,NaN,NaN,NaN,NaN,Foreign students,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's or equivalent,NaN,...,Master's or equivalent,NaN,Doctoral or equivalent,NaN,Bachelor's or equivalent,NaN,Master's or equivalent,NaN,Doctoral or equivalent,NaN
12,NaN,NaN,(1),NaN,(2),NaN,(3),NaN,(4),NaN,...,(18),NaN,(19),NaN,(20),NaN,(21),NaN,(22),NaN
13,Countries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Australia,1,92.0616,NaN,7.93844,d,21.9359,NaN,5034.41,NaN,...,12022.5,d,2531.05,d,10809.6,d,11449.3,d,20092.7,d
15,Austria,1,82.3326,NaN,17.6674,d,19.6539,NaN,920.995,NaN,...,NaN,m,NaN,m,NaN,m,NaN,m,NaN,m
16,Canada,NaN,100,NaN,NaN,a,12.9683,NaN,5285.92,NaN,...,NaN,a,NaN,a,NaN,a,NaN,a,NaN,a
17,Chile,NaN,20.3181,NaN,63.2745,NaN,0.418531,NaN,7524,NaN,...,10727.4,NaN,8897.77,NaN,No differentiation for foreign students,NaN,NaN,NaN,NaN,NaN
18,Denmark,NaN,99.1592,NaN,NaN,a,10.2567,NaN,0,NaN,...,NaN,a,NaN,a,NaN,a,NaN,a,NaN,a
19,Estonia,"2,3",75.9865,NaN,9.67904,NaN,8.19559,NaN,6763.92,NaN,...,8747.38,NaN,0,NaN,8564.52,NaN,8747.38,NaN,0,NaN
20,Finland,NaN,52.7409,NaN,NaN,a,8.17791,NaN,0,NaN,...,NaN,a,NaN,a,NaN,a,NaN,a,NaN,a
21,France,NaN,81.7134,NaN,17.4932,NaN,11.4214,NaN,237.244,NaN,...,NaN,m,NaN,m,NaN,m,NaN,m,NaN,m
22,Germany,"1,4",90.5576,NaN,9.44244,d,8.03802,NaN,132.706,d,...,NaN,x(17),NaN,x(17),NaN,x(17),NaN,x(17),NaN,x(17)
23,Greece,NaN,100,NaN,NaN,a,3.41035,NaN,0,NaN,...,NaN,a,NaN,a,NaN,a,NaN,a,NaN,a
24,Israel,2,74.2198,NaN,14.168,NaN,3.4703,NaN,3130.27,NaN,...,NaN,m,NaN,m,No differentiation for foreign students,NaN,NaN,NaN,NaN,NaN
25,Italy,NaN,88.4574,NaN,11.5426,NaN,5.29896,NaN,1925.95,NaN,...,8049.92,NaN,2511.92,NaN,No differentiation for foreign students,NaN,NaN,NaN,NaN,NaN
26,Japan,NaN,24.6256,NaN,75.3744,NaN,3.62936,NaN,5234.48,NaN,...,7643.72,NaN,5987.76,NaN,No differentiation for foreign students,NaN,NaN,NaN,NaN,NaN
27,Korea,NaN,24.8774,NaN,75.1226,NaN,2.81995,NaN,4886.15,NaN,...,11755,NaN,12674.3,NaN,No differentiation for foreign students,NaN,NaN,NaN,NaN,NaN
28,Latvia,2,78.1734,NaN,21.8266,NaN,8.60154,NaN,4291.49,NaN,...,5477.45,NaN,6276.25,NaN,5876.85,NaN,6771.42,NaN,6960.93,NaN
29,Netherlands,NaN,84.5357,NaN,15.4643,NaN,11.2102,NaN,2537.46,NaN,...,NaN,m,NaN,a,NaN,m,NaN,m,NaN,a
30,New Zealand,"5, 6",94.635,NaN,1.80714,NaN,18.7412,NaN,4487.34,d,...,NaN,m,NaN,a,NaN,m,NaN,m,NaN,a
31,Norway,NaN,85.1496,NaN,10.1046,NaN,3.22019,NaN,0,NaN,...,NaN,x(17),NaN,a,No differentiation for foreign students,NaN,NaN,NaN,NaN,NaN
32,Slovak Republic,NaN,87.0742,NaN,12.9258,NaN,7.01235,NaN,0,NaN,...,2571.06,NaN,2589.73,NaN,No differentiation for foreign students,NaN,NaN,NaN,NaN,NaN
33,Slovenia,NaN,87.0802,NaN,7.11493,NaN,4.15925,NaN,0,NaN,...,0,NaN,0,NaN,Institutions may charge higher tuition fees fo...,NaN,NaN,NaN,NaN,m
34,Spain,NaN,81.9475,NaN,18.0525,NaN,2.89363,NaN,1746.74,NaN,...,12030.4,NaN,NaN,m,No differentiation for foreign students,NaN,NaN,NaN,NaN,NaN
35,Sweden,NaN,93.5563,NaN,NaN,a,7.14579,NaN,0,NaN,...,NaN,a,NaN,a,NaN,a,NaN,a,NaN,a
36,Switzerland,7,93.0033,d,6.99674,NaN,17.9979,NaN,1290.73,d,...,3201.68,NaN,5456.26,NaN,NaN,m,NaN,m,NaN,m
37,United States,8,62.724,NaN,37.276,NaN,6.624,NaN,8804.07,NaN,...,24711.6,d,NaN,x(18),No differentiation for international students,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Economies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Flemish Comm. (Belgium),2,61.9188,NaN,0.165719,NaN,8.70522,NaN,NaN,m,...,NaN,m,NaN,m,NaN,m,NaN,m,NaN,m
41,French Comm. (Belgium),7,99.8343,d,0.165719,NaN,8.70522,NaN,536.248,d,...,NaN,a,NaN,a,NaN,a,NaN,a,NaN,a
42,England (UK),"2,5",100,NaN,NaN,a,20.0759,NaN,11866,d,...,NaN,a,NaN,a,NaN,a,NaN,a,NaN,a
43,Note: Enrolment data is presented for the year...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,The detailed disaggregation by type of institu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,1. Government-dependent institutions are inclu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2. Government-dependent institutions instead o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,3. Institutions have the autonomy to fix the a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,4. Tuition fees are presented for total tertia...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,5. Short-cycle tertiary programmes are include...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,6. Estimates include universities only and exc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,7. Government-dependent private institutions a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,8. Tuition fees for foreign students typically...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Source: OECD (2019). See Source section for mo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Information on data for Israel: https://oe.cd/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Please refer to the Reader's Guide for informa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
excel_path=os.path.join("../data",')penDoors-U.S.-Study-Abroad-Student-Profile.xlsx')
excel=pd.read_excel(excel_path)
USabroad_demogrph_df=pd.DataFrame(excel)
USabroad_demogrph_df

,"PERCENT OF U.S. STUDY ABROAD STUDENTS BY FIELD OF STUDY, 2000/01 - 2018/19",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Characteristic,U.S. STUDY ABROAD STUDENTS (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Academic level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Undergraduate,90.4,90.4,90.3,86.9,88.6,88.1,89.3,89.4,88.1833,85.3926,85.6,86.2,86.4,87,87.6,87.7,87.9,87.7,88
5,Associate's Students,0.9,1.5,2.1,1.6,2.7,2.7,2.7,2.2,1.1,0.119736,0.2,1.1,1.1,1.7,1.8,1.7,1.7,1.7,1.9
6,Freshman,3.1,3.2,2.9,3,3.1,3.7,3.3,3.5,3.4145,3.4702,3.3,3.3,3.8,3.9,3.9,3.6,4,4.2,4.1
7,Sophomore,14,13.6,11.8,12,12.2,12.8,12.9,13.1,13.9313,13.215,12.6,13,13.7,13.1,13.1,12.7,13.2,12.8,13.2
8,Junior,38.9,40.7,38,34.7,35.8,34.2,36.6,35.9,36.7804,35.8006,35.8,36,34.7,33.9,33.1,32.9,33,33,33.4
9,Senior,20,20.4,20.2,19.3,19.6,19.8,21.3,21.3,21.6137,21.7697,23.4,24.4,24.7,25.3,26.4,27.7,27.4,28.2,29.4
10,"Bachelor's, Unspecified",13.5,11,15.3,16.3,15.2,14.9,12.5,13.4,11.3434,11.0174,10.3,8.4,8.4,9.1,9.3,9.1,8.6,7.8,6.2
11,Graduate,8.3,8.7,9.1,8.6,8.9,10,10.5,10.5,11.7864,13.6478,13.5,13.5,13.5,12.7,12.1,12.1,11.9,12.1,11.6
12,Master's Students,4.5,4.7,4.8,4.1,3.4,4.8,5.9,6.3,6.58642,8.13862,8.5,8.3,8.4,7.6,7.4,7,7.3,7.8,7.4
13,"Graduate, Professional",-,-,-,1.6,1.7,1.8,1.6,1.9,2.2,2.42551,2.3,2.6,2.3,2,1.9,2.1,2,0.8,0.7
14,Doctoral Students,0.7,0.7,0.9,0.5,0.4,0.4,0.4,0.3,0.4,0.5572,0.6,0.7,0.8,0.7,0.7,0.7,0.7,1.8,1.7
15,"Graduate, Unspecified",3.1,3.3,3.4,2.4,3.4,3,2.6,2,2.6,2.52643,2.1,1.9,2,2.4,2.1,2.3,1.9,1.7,1.8
16,Other Academic Level,1.1,0.8,0.7,4.2,2.5,1.9,0,0.1,0,1,0.9,0.3,0.1,0.3,0.3,0.2,0.2,0.2,0.2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Women,65,64.9,64.7,65.6,65.5,65.5,65.1,65.1,64.2,63.5,64.4,64.8,65.3,65.3,66.6,66.5,67.3,67,67.3
20,Men,35,35.1,35.3,34.4,34.5,34.5,34.9,34.9,35.8,36.5,35.6,35.2,34.7,34.7,33.4,33.5,32.7,33,32.7
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Race/Ethnicity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,White,84.3,82.9,83.2239,83.7446,83,83,81.9,81.8,80.4532,78.6904,77.8,76.4,76.3,74.3,72.9,71.6,70.8,70,68.7
24,Hispanic or Latino(a),5.4,5.4,5.12303,4.96351,5.6,5.4,6,5.9,5.96964,6.40618,6.9,7.6,7.6,8.3,8.8,9.7,10.2,10.6,10.9
25,"Asian, Native Hawaiian or Other Pacific Islander",5.4,5.8,6.02153,6.13285,6.3,6.3,6.7,6.6,7.33557,7.86233,7.9,7.7,7.3,7.7,8.1,8.4,8.2,8.4,8.9
26,Black or African-American,3.5,3.5,3.38647,3.37626,3.5,3.5,3.8,4,4.21035,4.65955,4.8,5.3,5.3,5.6,5.6,5.9,6.1,6.1,6.4
27,Multiracial,0.9,2,1.78901,1.32786,1.2,1.2,1.2,1.2,1.57753,1.90975,2.1,2.5,3,3.6,4.1,3.9,4.3,4.4,4.7
28,American Indian or Alaska Native,0.5,0.4,0.45609,0.454971,0.4,0.6,0.5,0.5,0.453725,0.47179,0.5,0.5,0.5,0.5,0.5,0.5,0.4,0.5,0.4
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,TOTAL,154168,160920,174629,191231,205983,223534,241791,262416,260327,270604,273996,283332,289408,304467,313415,325339,332727,341751,347099
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Note: Percent distributions may not sum to 100...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Note: Dash symbol (-) indicates no data availa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Suggested citation: Institute of International...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
csv_path=os.path.join("../data",'timesData.csv')
csv=pd.read_csv(csv_path)
rank_df=pd.DataFrame(csv)
rank_df.head(25)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54,2011
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,"19,919",11.6,34%,46 : 54,2011
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,"36,186",16.4,15%,50 : 50,2011
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,"15,060",11.7,51%,37 : 63,2011
9,10,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,"11,751",4.4,20%,50 : 50,2011
10,11,"University of California, Los Angeles",United States of America,83.0,48.1,92.9,93.2,-,87.7,"38,206",10.3,15%,52 : 48,2011
11,12,University of Chicago,United States of America,79.1,62.8,87.9,96.9,-,86.9,"14,221",6.9,21%,42 : 58,2011
12,13,Johns Hopkins University,United States of America,80.9,58.5,89.2,92.3,100.0,86.4,"15,128",3.6,23%,50 : 50,2011
13,14,Cornell University,United States of America,82.2,62.4,88.8,88.1,34.7,83.9,"21,424",10.2,19%,48 : 52,2011
14,15,ETH Zurich â Swiss Federal Institute of Techno...,Switzerland,77.5,93.7,87.8,83.1,-,83.4,"18,178",14.7,37%,31 : 69,2011
15,15,University of Michigan,United States of America,83.9,53.3,89.1,84.1,59.6,83.4,"41,786",9.0,16%,48 : 52,2011
16,17,University of Toronto,Canada,75.8,-,87.9,82.2,-,82.0,"66,198",19.5,15%,NaN,2011
17,18,Columbia University,United States of America,73.8,90.9,73.8,92.6,-,81.0,"25,055",5.9,28%,NaN,2011
18,19,University of Pennsylvania,United States of America,71.8,32.9,82.7,93.6,43.7,79.5,"20,376",6.5,20%,51 : 49,2011
19,20,Carnegie Mellon University,United States of America,70.3,39.1,79.3,95.7,53.7,79.3,"11,885",13.1,35%,39 : 61,2011
20,21,University of Hong Kong,Hong Kong,68.4,91.4,71.4,96.1,56.5,79.2,"19,835",17.6,38%,53 : 47,2011
21,22,University College London,United Kingdom,74.0,90.8,81.6,80.6,39.0,78.4,"26,607",10.7,46%,56 : 44,2011
22,23,University of Washington,United States of America,68.2,49.0,77.1,95.9,32.8,78.0,"44,020",11.8,13%,53 : 47,2011
23,24,Duke University,United States of America,66.8,49.4,71.5,92.3,100.0,76.5,"15,172",4.8,17%,49 : 51,2011
24,25,Northwestern University,United States of America,64.5,60.5,68.8,95.3,-,75.9,"18,334",13.8,15%,48 : 52,2011

In [21]:
excel_path=os.path.join("../data",'U.S.-Study-Abroad-All-Destinations.xlsx')
excel=pd.read_excel(excel_path)
USabroadregion_df=pd.DataFrame(excel)
USabroadregion_df

,Unnamed: 0,"DESTINATIONS OF U.S. STUDY ABROAD STUDENTS, 1999/00 -2018/19",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,U.S. Study Abroad Students,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Destinations,NaN,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,...,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000.0,"AFRICA, SUB-SAHARAN",NaN,3368,3789,4202,4332,4817,5925,7051,...,11416,11878,12859,13411,13266,10647,12738,13433,14416,13455
4,NaN,"Africa, Sub-saharan, Unspecified",NaN,30,1,59,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,Note: Dash symbol (-) indicates no data availa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,Note: Regional names and data reflect Open Doo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,"Windward Islands is included in Caribbean, Uns...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,Suggested citation: Institute of International...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Census-All-Places-of-Origin-1.xlsx
excel_path=os.path.join("../data",'Census-All-Places-of-Origin-1.xlsx')
excel=pd.read_excel(excel_path)
study-origin_df=pd.DataFrame(excel)
USabroadregion_df